<h1>{{title}}</h1>

<img class= 'full img-thumbnail' src={{image}}>  <p>
    Description: {{description}}
  </p>

  <p>
    Owner: {{owner}}
  </p>


  <p>
    Bid number: {{bid_number}}
  </p>

  <p>
    Starting price: ${{starting_price}}
  </p>

  <p>
    Backstory: {{backstory}}
  </p>

  <p>
    Year acquired: {{year_acquired}}
  </p>
